---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
---

<Layout title="Welcome to Astro.">
	<Header />
	<div class="h-max mx-32">
		<main class="container">
			<h1 class="text-5xl mt-6">Landing page in astro</h1>
		</main>
	</div>
</Layout>

