---
import Logo from '../images/logo.svg'
---

<header class="flex justify-between p-5">
  <div class="flex gap-10">
    <img src={Logo} alt="logo">
    <nav>
      <ul class="flex gap-6">
        <li>Features</li>
        <li>Company</li>
        <li>Carrers</li>
        <li>About</li>
      </ul>
    </nav>
  </div>
  <div class="flex gap-8">
    <button class="bg-slate-400 px-3 py-1 rounded-md">Login</button>
    <button class="bg-slate-400 px-3 py-1 rounded-md">Register</button>
  </div>
</header>